<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.springframework.org/schema/util 
            http://www.springframework.org/schema/util/spring-util-3.2.xsd
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context-3.2.xsd">
        
    <util:properties id="socialAuthProperties">
        <prop key="www.google.com.consumer_key">
        	820182669061.apps.googleusercontent.com
        </prop>
        <prop key="www.google.com.consumer_secret">
        	PBbuzsXPob_QKBc97xK-xbDl
        </prop>
        
        <prop key="api.login.yahoo.com.consumer_key">
       		dj0yJmk9YWJHdTMzd3ZHdGVNJmQ9WVdrOVRHMXRUVVkzTjJNbWNHbzlNVEE0TVRVd09ETTJNZy0tJnM9Y29uc3VtZXJzZWNyZXQmeD02MA--
        </prop>
        <prop key="api.login.yahoo.com.consumer_secret">
        	40f4ec1bd4f2d22f9e0a2d551643e58916888d03
        </prop>
        
        <prop key="twitter.com.consumer_key">
        	OPVEvzSweWkKbHCDWo8aWw
        </prop>        
        <prop key="twitter.com.consumer_secret">
        	mKyGNwjisvmqgWpgAUuLsjhhMyROix6uYqJONn4uc
        </prop>
        
        <prop key="graph.facebook.com.consumer_key">
        	152190004803645
        </prop>
        <prop key="graph.facebook.com.consumer_secret">
        	64c94bd02180b0ade85889b44b2ba7c4
        </prop>
        
        <prop key="consent.live.com.consumer_key">
        	00000000440FAA19
        </prop>
        <prop key="consent.live.com.consumer_secret">
        	Ob6avgBZb9RpYb9HTg-uhTcFYWONhOmL
        </prop>
        
        <prop key="api.linkedin.com.consumer_key">
            e6976208-031c-4dce-a0ff-f05eb4ed86f6
        </prop>
        <prop key="api.linkedin.com.consumer_secret">
            e739b823-d3e2-4d48-96c6-1c74cc9500be
        </prop>       
         
       
    </util:properties>
</beans>